<div>
    <tabset>
      <tab heading="Office info">
        <h5 class="mt-1">Office info</h5>
        <p>Office name: {{office()?.name}}</p>
        <p>Office Address: {{office()?.city}}, {{office()?.street}} {{office()?.apartment}}</p>
        <p>Office name: {{office()?.name}}</p>
        <p>Doctor: {{office()?.doctor?.firstName}} {{office()?.doctor?.lastName}}</p>
      </tab>
      <tab heading="Appointments" (selectTab)="loadAppointments()">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                @for (appointment of appointmentService.paginatedResult()?.items; track appointment.id) {
                    <tr>
                        <td>{{appointment.dateStart | date:'yyyy-M-dd'}} | {{appointment.dateStart | date:'H:mm'}} - {{appointment.dateEnd | date:'H:mm'}}</td>
                        <td>{{appointment.isOpen == true ? "Available" : "Non-available"}}</td>
                        <td>
                          @if (accountService.roles().includes("Patient")) {
                            @if (appointment.isOpen == true) {
                              <button class="btn btn-primary" (click)="bookAppointment(appointment.id)">
                                Book
                              </button>
                            }
                          } @else if (accountService.roles().includes("Doctor")
                            && accountService.currentUser()?.id == office()?.doctor?.id) {
                              <button class="btn btn-primary" (click)="editAppointment(appointment.id)">
                                Edit
                              </button>
                              <button class="btn btn-primary" (click)="deleteAppointment(appointment.id)">
                                Delete
                              </button>
                            }
                          
                      </td>
                    </tr>
                }
            </tbody>
          </table>
        
        @if (appointmentService.paginatedResult()?.pagination) {
            <div class="d-flex justify-content-center">
                <pagination [boundaryLinks]="true" 
                            [totalItems]="appointmentService.paginatedResult()?.pagination!.totalItems"
                            [itemsPerPage]="appointmentService.paginatedResult()?.pagination!.itemsPerPage"
                            (pageChanged)="pageChanged($event)"
                            [(ngModel)]="appointmentService.paginatedResult()?.pagination!.currentPage"
                            [maxSize]="10"
                            previousText="&lsaquo;" 
                            nextText="&rsaquo;" 
                            firstText="&laquo;" 
                            lastText="&raquo;">
                </pagination>   
            </div>
        }
      </tab>
    </tabset>
</div>