<div class="container mt-3">
    @if (accountService.roles().includes("Patient")) {
        <form #form="ngForm" (ngSubmit)="loadAppointmentsAsPatient()" class="d-flex flex-wrap mb-3">
            <div class="d-flex">
                <label class="col-form-label">Filter:</label>
                <select name="status"
                    class="form-select ms-1" 
                    [(ngModel)]="appointmentService.myAppointmentAsPatientParams().status"
                >
                @for (status of statusList; track status.value) {
                    <option [value]="status.value">{{status.display}}</option>
                }
                </select>
            </div>
    
            <div class="d-flex">
              <button class="btn btn-primary" type="submit">Filter</button>
            </div>
    
            <div class="d-flex">
              <button (click)="resetFilters()" class="btn btn-primary" type="button">Reset</button>
            </div>
      </form>
    } @else if (this.accountService.roles().includes("Doctor")) {
        <form #form="ngForm" (ngSubmit)="loadAppointmentsAsDoctor()" class="d-flex flex-wrap mb-3">
            <div class="d-flex">
                <label class="col-form-label">Filter:</label>
                <select name="status"
                    class="form-select ms-1" 
                    [(ngModel)]="appointmentService.myAppointmentAsDoctorParams().status"
                >
                @for (status of statusList; track status.value) {
                    <option [value]="status.value">{{status.display}}</option>
                }
                </select>
            </div>
    
            <div class="d-flex">
              <button class="btn btn-primary" type="submit">Filter</button>
            </div>
    
            <div class="d-flex">
              <button (click)="resetFilters()" class="btn btn-primary" type="button">Reset</button>
            </div>
      </form>
    }
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            @for (appointment of appointmentService.paginatedResult()?.items; track appointment.id) {
                <tr>
                    <td>{{appointment.dateStart | date:'yyyy-M-dd'}} | {{appointment.dateStart | date:'H:mm'}} - {{appointment.dateEnd | date:'H:mm'}}</td>
                    <td>
                        @if (accountService.roles().includes("Patient")) {
                            <button class="btn btn-primary" (click)="cancelAppointment(appointment.id)">
                                Cancel
                            </button>
                        }
                        <button class="btn btn-primary" (click)="openDetails(appointment.id)">
                            Details
                        </button>
                  </td>
                </tr>
            }
        </tbody>
      </table>
    
    @if (appointmentService.paginatedResult()?.pagination) {
        <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" 
                        [totalItems]="appointmentService.paginatedResult()?.pagination!.totalItems"
                        [itemsPerPage]="appointmentService.paginatedResult()?.pagination!.itemsPerPage"
                        (pageChanged)="pageChanged($event)"
                        [(ngModel)]="appointmentService.paginatedResult()?.pagination!.currentPage"
                        [maxSize]="10"
                        previousText="&lsaquo;" 
                        nextText="&rsaquo;" 
                        firstText="&laquo;" 
                        lastText="&raquo;">
            </pagination>   
        </div>
    }
</div>