<div class="container mt-3">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            @for (appointment of appointmentService.paginatedResult()?.items; track appointment.id) {
                <tr>
                    <td>{{appointment.dateStart | date:'yyyy-M-dd'}} | {{appointment.dateStart | date:'H:mm'}} - {{appointment.dateEnd | date:'H:mm'}}</td>
                    <td>
                        @if (accountService.roles().includes("Patient")) {
                            <button class="btn btn-primary" (click)="cancelAppointment(appointment.id)">
                                Cancel
                            </button>
                        }
                        <button class="btn btn-primary" (click)="openDetails(appointment.id)">
                            Details
                        </button>
                  </td>
                </tr>
            }
        </tbody>
      </table>
    
    @if (appointmentService.paginatedResult()?.pagination) {
        <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" 
                        [totalItems]="appointmentService.paginatedResult()?.pagination!.totalItems"
                        [itemsPerPage]="appointmentService.paginatedResult()?.pagination!.itemsPerPage"
                        (pageChanged)="pageChanged($event)"
                        [(ngModel)]="appointmentService.paginatedResult()?.pagination!.currentPage"
                        [maxSize]="10"
                        previousText="&lsaquo;" 
                        nextText="&rsaquo;" 
                        firstText="&laquo;" 
                        lastText="&raquo;">
            </pagination>   
        </div>
    }
</div>